<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/18050143-zero-to-one?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/22047640.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/60509.Technological_Revolutions_and_Financial_Capital?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/60509.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/9717.The_Unbearable_Lightness_of_Being?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/9717.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>      
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/11690.Istanbul?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6609508.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/66354.Flow?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/66354.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/357486.Voices_from_Chernobyl?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/357486.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/378701.Soros?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/378701.jpg" class="img-responsive book"></a>
        </div>
         <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/320.One_Hundred_Years_of_Solitude?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/320.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/29658.Postwar?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/29658.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/295894.Day_of_Empire?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/295894.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/242472.The_Black_Swan?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/242472.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/2054761.The_Snowball?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/2054761.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/9825840-what-men-live-by?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/14352971.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/17910042-a-taste-for-intrigue?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/17910042.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/1911.The_World_Is_Flat?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/1911.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/12953304-breakout-nations?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/18936835.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/12576334-religion-for-atheists?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/12576334.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/12383405-thinking-the-twentieth-century?ac=1&from_search=1"><img src="https://s3.amazonaws.com/won.hong.bucket/library/12383405.jpg" class="img-responsive book"></a>
        </div> 
        <div class="col-xs-12 shelf"></div> 
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/11991.The_Fall?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/11991.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/11612989-the-dictator-s-handbook?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/11612989.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/21856367-the-innovators?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/21856367+(1).jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/10814.Here_Is_New_York?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/10814.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/10887.Kissinger?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/10887.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/10955067-universal-rights-down-to-earth?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/10955067.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/11012.Dubliners?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/11012.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/11084145-steve-jobs?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/11084145.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/113135.The_Winner_Take_All_Society?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/113135.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/11472345-deng-xiaoping-and-the-transformation-of-china?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/11472345.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/10127019-the-lean-startup?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/11500159.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/1155.Buffett?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/1155.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/1168341.Physics_of_the_Impossible?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/1168341.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/11797471-the-idea-factory?ac=1&from_search=1"><img src="https://s3.amazonaws.com/won.hong.bucket/library/11797471.jpg" class="img-responsive book"></a>
        </div>        
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/12035503-the-darwin-economy?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/12035503.jpg" class="img-responsive book"></a>
        </div>        
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/13530973-antifragile?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/13530973.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/13121.Enchantment?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/13121.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/13221379-what-money-can-t-buy?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/13221379.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/1342076.The_Last_Great_Frenchman?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/1342076.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/13588394-the-signal-and-the-noise?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/13588394.jpg" class="img-responsive book"></a>
        </div>      
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/13912.A_Beautiful_Mind?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/13912.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/618294.My_Love_Affair_with_Modern_Art?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/14521366.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/156872.Liberalism_and_the_Limits_of_Justice?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/156872.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/16085481-crazy-rich-asians?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/16085481.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/16121.Titan?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/16121.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/16131.The_House_of_Morgan?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/16131.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/16251.News_of_a_Kidnapping?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/16251.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>   
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/17707768-jony-ive?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/17707768.jpg" class="img-responsive book"></a>
        </div>  
         <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/17728.The_House_of_Mirth?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/17728.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/17934399-overwhelmed?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/17934399.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/17994.The_Code_Book?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/17994.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/1842.Guns_Germs_and_Steel?ac=1&from_search=1"><img src="https://s3.amazonaws.com/won.hong.bucket/library/1842.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/900.The_Game?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/18652727.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/18768657-howard-s-gift?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/18768657.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/320861.Howard_Hughes?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/18871547.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/1102465.The_Oligarchs?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/18943359.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/263982.Inside_the_House_of_Money?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/19226233.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/19365246-abramovich?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/19365246.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/193755.The_Diving_Bell_and_the_Butterfly?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/193755.jpg" class="img-responsive book"></a>
        </div>      
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/18114115-the-triple-package?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/20659299.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/20696006-being-mortal?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/20696006.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/20819682-adultery?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/20819682.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/17674969-life-at-the-speed-of-light?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/20821015.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/20995.The_Art_of_Seduction?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/20995.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/21.A_Short_History_of_Nearly_Everything?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/21.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/2120783.The_Post_American_World?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/2120783.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/21483816-sons-of-wichita?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/21483816.jpg" class="img-responsive book"></a>
        </div>  
         <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/22027719-narendra-modi?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/22027719.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/20821371-the-sense-of-style?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/22048346.jpg" class="img-responsive book"></a>
        </div>      
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/22543496-elon-musk?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/22535480.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/21480734-dataclysm?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/22591134.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/228557.The_Promise_of_Sleep?from_search=true&search_version=service"> <img src="https://s3.amazonaws.com/won.hong.bucket/library/228557.jpg" class="img-responsive book"></a></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/2318271.The_Last_Lecture?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/2318271.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/23158207-how-google-works?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/23263733.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/23315843-the-festival-of-insignificance?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/23315843.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/236588.Memoirs?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/236588.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/240976.The_Book_of_Laughter_and_Forgetting?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/240976.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/243685.A_History_of_Western_Philosophy?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/243685.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/26101.Laughable_Loves?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/26101.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/26114.The_Joke?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/26114.jpg" class="img-responsive book"></a>
        </div> 
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/2612.The_Tipping_Point?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/2612.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/26348.Paris_1919?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/26348.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/27486.The_Mating_Mind?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/27486.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/2767.A_People_s_History_of_the_United_States?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/2767.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/28634.Immortality?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/28634.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/297673.The_Brief_Wondrous_Life_of_Oscar_Wao?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/297673.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/3191235-the-new-paradigm-for-financial-markets?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/3191235.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/320993.The_Case_Against_Perfection?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/320993.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/320995.Democracy_s_Discontent?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/320995.jpg" class="img-responsive book"></a>
        </div>      
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/334050.Khrushchev?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/334050.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/37470.The_Other_Boleyn_Girl?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/37470.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/3877311-the-partnership?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/3877311.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/395233.The_Letters_of_Vincent_van_Gogh?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/395233.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/4813.1421?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/4813.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/4934.The_Brothers_Karamazov?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/4934.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/500901.How_to_Be_an_Adult_in_Relationships?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/500901.jpg" class="img-responsive book"></a>
        </div>         
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/536788.The_Third_Reich_in_Power?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/536788.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/542389.Stalingrad?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/542389.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/40745.Mindset?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/5494321.jpg" class="img-responsive book"></a>
        </div>    
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/550840.The_Age_of_Revolution?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/550840.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/5544.Surely_You_re_Joking_Mr_Feynman_?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/5544.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/1077156.High_Stakes_No_Prisoners_?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/587002.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/5931.The_Essential_Neruda?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/5931.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/5960325-shanghai-girls?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/5960325.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/61329.Crossing_the_Chasm?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/61329.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/6178648-nothing-to-envy?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6178648.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/6283340-spent?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6283340.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/6372440-this-time-is-different?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6372440.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/643157.Naked_in_the_Boardroom?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/643157.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/6452731-justice?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6452731.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/475.Collapse?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6592993.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/6722230-mike-bloomberg?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6722230.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/6823743-keynes?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6823743.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/6885191-start-up-nation?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6885191.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/6900.Tuesdays_with_Morrie?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/6900.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/7108725-start-with-why?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/7108725.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/7144.Crime_and_Punishment?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/7144.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/7406069-gorbachev-s-gamble?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/74034.jpg" class="img-responsive book"></a>
        </div>     
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/74034.Amusing_Ourselves_to_Death?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/7406069.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/7493.Founding_Brothers?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/7493.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/7640261-sex-at-dawn?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/7640261.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/7651910-the-soros-lectures?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/7651910.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/7655974-different?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/7655974.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/767171.The_Rise_and_Fall_of_the_Third_Reich?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/767171.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/772163.Notorious?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/772163.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/8034188-where-good-ideas-come-from?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/8034188.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/8099187-decision-points?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/8099187.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/8593761-king-of-capital?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/8593761.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/8728554-the-fear?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/8728554.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/900892.A_Random_Walk_Down_Wall_Street?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/900892.jpg" class="img-responsive book"></a>
        </div>     
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/9160695-battle-hymn-of-the-tiger-mother?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/9160695.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/9328314-on-china?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/9328314.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/93426.Genghis_Khan_and_the_Making_of_the_Modern_World?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/93426.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/93653.Stalin?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/93653.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/94318.Awareness?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/94318.jpg" class="img-responsive book"></a>
        </div>

        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/95784.The_Rape_of_Nanking?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/95784.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/9746.Mao?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/9746.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/9807576-the-misleading-mind?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/9807576.jpg" class="img-responsive book"></a>
        </div>  
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/9821254-prime-movers-of-globalization?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/9821254.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href="https://www.goodreads.com/book/show/98685.Genius?from_search=true&search_version=service"><img src="https://s3.amazonaws.com/won.hong.bucket/library/98685.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a href=""><img src="https://s3.amazonaws.com/won.hong.bucket/library/.jpg" class="img-responsive book"></a>
        </div>      
        <div class="col-xs-4 col-md-2">
          <a href=""><img src="https://s3.amazonaws.com/won.hong.bucket/library/.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-4 col-md-2">
          <a href=""><img src="https://s3.amazonaws.com/won.hong.bucket/library/.jpg" class="img-responsive book"></a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-12 shelf"></div>    
    </div>
</div> 
