<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>About Won Jun</title>
  </head>

  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Won Jun's Story</h1>
      </div>
      <div class="about-me-content">
	      <p>Hello!!!</p>
	      <p><img src="https://s3.amazonaws.com/won.hong.bucket/Homepage-1.jpg" alt="Smiley face" width="640"></br></p>
	      <p>I am one of millions of New Yorkers, “who was born somewhere else and came to New York in quest of something.” A quest—and passion at the same time—is not easy to convey in words.</p>
	      <p><img src="https://s3.amazonaws.com/won.hong.bucket/homepage-3.jpg" width="640"></br></p>
	      <p>My passion is in business and technology; two forces that tumble down barriers and connect people. I believe in technology that empower humanity and make world into a better place. I assist businesses to leverage the latest technologies.</p>
	      <p><img src="https://s3.amazonaws.com/won.hong.bucket/photo-1429051883746-afd9d56fbdaf.jpeg" width="640"></br></p>
	      <p>Also, I am an active full-stack web developer and a data scientist coding in various computer languages. I have deployed couple of Ruby on Rails Web Applications in last couple months. I have been building some interesting iPhone apps as well.</p>
        <p><img src="https://s3.amazonaws.com/won.hong.bucket/Intro-2.jpeg" width="640"></br></p>
	      <p>I adore human languages just as much as computer languages. I read in Chinese, English, French, and Korean. Currently, I am making a great effort to improve my Russian (with marginal success). For music, I love French EDM, especially Faul & Wad and Klingande.</p>
        <p><img src="https://s3.amazonaws.com/won.hong.bucket/plane.jpeg" width="640"></br></p>
        <p>Working and traveling across 40+ nations, I have met cultural outliers and wrote my quarter-life autobiography based on our conversations. I always try to meet diverse friends with different perspectives. They open my mind and challenge me to think from others' perspective.</p>
	      <p><img src="https://s3.amazonaws.com/won.hong.bucket/fashion.png" width="640"></br></p>
	      <p>"Straight out of GQ!" I love dressing up and keeping up with the fashion trend. I am a big fan of Peruvian fashion photographer Mario Testino, not to mention all his fashion models—including Princess Diana.</br></p>
	      <p><img src="https://s3.amazonaws.com/won.hong.bucket/photo-1423655156442-ccc11daa4e99.jpeg" width="640"></br></p>
	      <p>Back to the quest, I am “a boy arriving from the Corn Belt with a manuscript in his suitcase and a pain in his heart.” The manuscript is my own curiosity, and the pain is the unsolved mysteries of my life. My biggest quest is finding answers to my own questions, and I am on a long journey to reach the ever-changing destination.</br></p>
        <p>Quotes from <i>Here is New York</i> by E.B. White</br></p>
   		</div>
   		<div class="container">
	    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	      <div class="col-md-12">
          <ul class="social-network social-circle">
              <li><a href="https://twitter.com/wrhong7" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/wjhong" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>       
	      </div>
	  	</div>
    </div>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>


</html>

