<div class="container-thumbnail">
      
    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <h6>Project 1: www.weekend-plan.com</h6>
                <h6>Ran out of weekend hangout ideas?</br>Enter your zipcode!</br>We recommend you with cool ideas around the town.</br>Plot the events on the map and see on your mobile phone.</h6>
                <p><a href="http://www.weekend-plan.com" class="label label-danger" rel="tooltip" title="Go to Website">VISIT</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a></p>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/EDM.jpeg" height="300">
        </div>
    </div>

    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <h6>Project 2: www.linktoshare.com</h6>
                <h6>Your private news archive:</br>We save your article and remind you to revisit</br>through emails and messages.</br>You can also recommend your favorite articles to your friends.</h6>
                <p><a href="http://www.linktoshare.com" class="label label-danger" rel="tooltip" title="Go to Website">VISIT</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a></p>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/linkreminderweb.jpeg" height="300">
        </div>
    </div>     

    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <h6>Project 3: From a data scientist's perspective</br>Is Democracy Good for Economy?</h6>
                <h6>The arguement between order versus liberty is not new.</br>Based on the data from Worldbank, IMF and Freedomhouse International,</br>we try to solve a century-long debate on bread vs. liberty.</br>Is there a realtionship? Which should come first? Find our answer here.</h6>
                <p><a href="https://s3.amazonaws.com/won.hong.bucket/Is+Democracy+good+for+Economy%3F.pdf" class="label label-danger" rel="tooltip" title="For Detailed Research Info">Result</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a></p>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/freedom.jpeg" height="300">
        </div>
    </div>  

    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <h6>Project 4: www.kharakorum.com</br>Solving Problems = Startup Ideas</h6>
                <h6>I have created this archive for my friend Roland and Pankaj</br><to push ourselves to come up with the startup ideas.</br>Every three hours, we receive a message to look for problems around us,</br>and we comment on each other's idea. Unicorns do not fall from tree.</h6>
                <p><a href="http://www.kharakorum.com" class="label label-danger" rel="tooltip" title="Go to Website">VISIT</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a></p>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/building.jpeg" height="300">
        </div>
    </div>     

    </div>
  
</div><!-- /.container -->