<div class="container-thumbnail">
      
    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <h6>Interactive Web Application</br></br>www.weekend-plan.com</h6>
                <h6>Give us your zipcode! We will find you cool events taking place around your neighborhood!</br></h6>
                <p><a href="http://www.weekend-plan.com" class="label label-danger" rel="tooltip" title="Go to Website">VISIT</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a></p>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/EDM.jpeg" height="300" width="300">
        </div>
    </div>

    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <h6>Interactive Web Application</br></br>Will be Introduced in December 2015</h6>
                <h6>You will never forget the good articles</br>by your favorite columnists!</h6>
                <p><a href="http://www.weekend-plan.com" class="label label-danger" rel="tooltip" title="Go to Website">VISIT</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a></p>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/linkreminderweb.jpeg" height="300" width="300" alt="...">
        </div>
    </div>     

    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <h6>Machine Learning</br></br>Is Democracy plus or minus</br>for developing nations?</h6>
                <p><a href="" class="label label-danger" rel="tooltip" title="For Detailed Research Info">Result</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a></p>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/freedom.jpeg" width="500" alt="...">
        </div>
    </div>  

    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <h6>Natural Language Processing</br></br>The Reddit Paradox</h6>
                <h6>Do "Reddit"ers smell information</br>that market does not know?</h6>
                <p><a href="" class="label label-danger" rel="tooltip" title="For Detailed Research Info">Result</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a></p>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/building.jpeg" width="500" alt="...">
        </div>
    </div>     

   
        
    </div>
  
</div><!-- /.container -->