<div class="container-thumbnail">
      
    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <p>Project 1: www.weekend-plan.com</br></br>
                Ran out of weekend hangout ideas? Enter your zipcode!</br>We recommend you with cool ideas around the town.</br>Plot the events on the map and see on your mobile phone.</br></br></p>
                <a href="http://www.weekend-plan.com" class="label label-danger" rel="tooltip" title="Go to Website">VISIT</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/EDM.jpeg" height="300">
        </div>
    </div>

    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <p>Project 2: www.linktoshare.com</br></br>
                Your private news archive:</br>We save your article and remind you to revisit</br>through emails and messages.</br>You can also recommend your favorite articles to your friends.</br></br></p>
                <a href="http://www.linktoshare.com" class="label label-danger" rel="tooltip" title="Go to Website">VISIT</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/linkreminderweb.jpeg" height="300">
        </div>
    </div>     

    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <p>Project 3: From a data scientist's perspective</br>Is Democracy Good for Economy?</br></br>
                We try to solve a century-long debate on bread vs. liberty.</br>Is there a realtionship? Which should come first? Find our answer here.</br></br></p>
                <a href="https://s3.amazonaws.com/won.hong.bucket/Is+Democracy+good+for+Economy%3F.pdf" class="label label-danger" rel="tooltip" title="For Detailed Research Info">Result</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/freedom.jpeg" height="300">
        </div>
    </div>  

    <div class="col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <p>Project 4: www.kharakorum.com</br>Solving Problems = Startup Ideas</br></br>
                I have created this archive for my friend Roland and Pankaj</br>we post our ideas and we comment on each other's idea. Unicorns do not fall from tree.</br></br></p>
                <a href="http://www.kharakorum.com" class="label label-danger" rel="tooltip" title="Go to Website">VISIT</a>
                <a href="mailto:won.hong@stern.nyu.edu" class="label label-default" rel="tooltip" title="Contact Won Jun for Ideas">EMAIL</a>
            </div>
            <img src="https://s3.amazonaws.com/won.hong.bucket/building.jpeg" height="300">
        </div>
    </div>     

    </div>
  
</div><!-- /.container -->