
  <body>

    <div class="resume">
        <header class="page-header">
        <h1 class="page-title">Won Jun Hong</h1>
        <small> <i class="fa fa-clock-o"></i> Last Updated on: <time>April 10, 2016</time></small>
      </header>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading resume-heading">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-xs-12 col-sm-4">
                  <figure>
                    <img class="img-circle img-responsive" alt="" src="https://s3.amazonaws.com/won.hong.bucket/img9894.png">
                  </figure>
                  
                </div>

                <div class="col-xs-12 col-sm-8">
                  <ul class="list-group">
                    <h4>About Me</h4>
                    <div id="p-margin">
                      With everything I do, I believe in challenging the status quo. I believe in making a difference with technology.</br></br>I bridge the gaps between business and technology. I introduce business people to the latest technologies, and I challenge computer engineers with business problems. I can communicate in four human languages and code in four computer languages to solve the most complex problems.</br></br>I look forward to taking challenges and improve myself along the way.
                    </div>
                    <h4>Current</h4>
                    <li class="list-group-item"> Technology Consultant @ KPMG (New York) </li>
                    <h4>Previous Experiences</h4>
                    <li class="list-group-item"> Research Assistant @ New York University (New York) </li>
                    <li class="list-group-item"> Business Development @ Happy Mango Credit (New York) </li>
                    <li class="list-group-item"> Private Equity Financial Analyst @ Asia Pacific Investment Partners (Mongolia, Singapore) </li>
                    <li class="list-group-item"> Strategy Consulting @ Emerging Strategy (Shanghai) </li>
                    <li class="list-group-item"> Military Database Security @ United States Army (Camp Carroll) </li>
                    <li class="list-group-item"> Equity Research @ Standard & Poor's (Seoul) </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class="bs-callout bs-callout-danger">
            <h4>Business and Computer Skills</h4>
            <ul class="list-group">
              <a class="list-group-item inactive-link" href="#">
                <div class="progress">
                  <div data-placement="top" style="width: 100%;" 
                  aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">100%</span>
                    <span class="progress-type">Business Development and Consulting, in English, Korean, and Mandarin </span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">80%</span>
                    <span class="progress-type">Technology Risk Monitoring and Risk Consulting Services</span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">70%</span>
                    <span class="progress-type">Ruby, Rails, Ruby on Rails, Backend Web Development</span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">80%</span>
                    <span class="progress-type">Technology Startup Business Development, Markeing and Sales, Operations</span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 50%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-warning">
                    <span class="sr-only">70%</span>
                    <span class="progress-type">Front-end Development and Mobile Development</span>
                  </div>
                </div>

                <div class="progress">
                  <div data-placement="top" style="width: 50%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                    <span class="sr-only">70%</span>
                    <span class="progress-type">Data Science, Machine Learning, and Natural Language Processing</span>
                  </div>
                </div>

                <div class="progress-meter">
                  <div style="width: 25%;" class="meter meter-left"><span class="meter-text">Just Started</span></div>
                  <div style="width: 25%;" class="meter meter-left"><span class="meter-text">Making Progress</span></div>
                  <div style="width: 30%;" class="meter meter-right"><span class="meter-text">Years of Expertise</span></div>
                  <div style="width: 20%;" class="meter meter-right"><span class="meter-text">Pretty Good</span></div>
                </div>

              </a>

            </ul>
          </div>

          <div class="bs-callout bs-callout-danger">
            <h4>Education</h4>
            <table class="table table-striped table-responsive ">
              <thead>
                <tr><th>Degree</th>
                <th>Major GPA</th>
                <th>CGPA</th>
              </tr></thead>
              <tbody>
                <tr>
                  <td>New York University, Stern Business School</br>B.B.A and B.SC. in Finance and Computer Systems</br>Summa Cum Laude Graduate (Top 5% of Graduating Class)</td>
                  <td></br>4.0/4.0</td>
                  <td></br>3.9/4.0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
        
    </div>

    </div>

  </body>

  <footer>
    <div class="container">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="col-md-12">
          <ul class="social-network social-circle">
              <li><a href="https://twitter.com/wrhong7" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/wjhong" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>       
        </div>
      </div>
    </div>
  </footer>